body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(images/l1.jpg);
    backdrop-filter: blur(5px);
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 500px;
    background-color: whitesmoke;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  img{
    border-radius: 50%;
    width: 100%;
  }
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  select{
    width: 300px;
    height: 33.6px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
    background-color: black;
  }

  .profile-pic1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }
  .profile-pic1 img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 150px;
    width: 150px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
   
    z-index: 1000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }
  
 
  