* {
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
body {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	height: 100vh;
    background-image: url(images/l3.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
}
.form {
	width: 600px;
	background-color:transparent;
	padding: 0 30px;
	display: grid;
	gap: 20px;
    border: 2px solid white;
    border-radius: 25px;
	padding-bottom: 30px;
    color: aliceblue;
}
input {
	width: 100%;
	padding: 10px;
}
.otpverify {
	width: 100%;
	display: flex;
	gap: 20px;
}
.btn {
	padding: 10px;
	background-color: #000000;
    color: aliceblue;
	outline: none;
	border: 2px solid white;
	cursor: pointer;
	border-radius: 5px;
	width: 150px;
}

.btn:hover{
	background-color: lightgray;
	color: #000000;
}
.otpverify{
	display: none;
}